@{
    ViewData["Title"] = "Home Page";
}

<body class="mainmenubkgrnd">
    <container>

    </container>

    <container>
        <div class="text-center">
            <img src="~/img/RDLogo.png" height="300"/>
            <br />
            <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Article" asp-action="Upload">Upload</a>
            <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Article" asp-action="Upload">Read</a>
            <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Article" asp-action="Upload">Stats</a>
        </div>
    </container>
</body>