* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    min-height: 100vh;
}

.body-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
}

.main-container {
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
}
/* change the width and height tou your size you like */
.logo {
    max-width: 300px;
    max-height: 250px;
}

.nav-buttons {
    width: 70%;
    padding: 0 80px;
    padding-top: 20px;
}

.nav-list {
    margin-top: 30px; /* This will move your buttons away from image*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 150px;
    height: 100px;
}

.link-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background: linear-gradient(to right, rgb(118, 209, 245), rgb(79, 136, 221)); /*changes button color can make one solid color if wanted*/
    color: black; /*Changes button text color*/
    width: 100%; /*Changes button sizes*/
    height: 100%;
    border-radius: 10px;
    text-align: center;
}

/*Designed by Darius Dubose: https://github.com/Darius-D */