@{
    ViewData["Title"] = "Upload";
}

@model Article

<body class="mainmenubkgrnd">
    <h2>Upload Article...</h2>
    <container>
        
        <form asp-action="Upload" method="post">
            <div class="form-group align-content-center">
                <label>Place URL here:</label><input asp-for="SourceUrl" class="form-control" />
            </div>
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Upload" />
            </div>
        </form>
    </container>
</body>